*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #F3EADD;
    padding: 10px 0;
    border-top: 1px solid #5c5b5b;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2); 
  }
  
  .navbar a {
    color: #00000099;
    text-decoration: none;
  }
  
  .navbar a.active {
    color: #208d7f; 
  }
  
  .holder {
   background-color: #F3EADD;
    color: #ffffff;
    min-height: 100vh;
    z-index: 1000;
  }